#canvas {
    border: 15px solid  rgb(41, 141, 235);
    border-radius: 35px;
    
}
body {
    padding: 0;
    text-align: center;
  }

  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro h2 { 
    background-color: #4c59a5; 
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px 10px;
       
  } 
  
  .game-intro h3 {
    background-color: #4c59a5; 
    padding: 5px 3px; 
    font-family: 'Verdana', cursive;
    letter-spacing: 1px;
    color: rgb(242,222,13);
    text-shadow: 2px 2px black;
    font-size: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
   
    
  }
  .soccer-img {
    width: 250px;
  }

  .arrows-img {
    width: 150px;
  }  

  body button {
    font-size: 30px;
    background-color: #008753;
    color: #fff;
    padding: 20px 40px;
    border: 50;
    box-shadow: 150;
    border-radius: 15px;
    margin-bottom: 45px;
  } 
  
  body {
    padding-top: 1px;
    background-image: url("../images/paper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    
  }  
  