#canvas {
    border: 1px solid  red;
}
body {
    padding: 0;
    text-align: center;
  }

  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 25px; color: rgb(227, 224, 233);
    font-family: "Verdana"
     
  }

  .soccer-img {
    width: 250px;
  }

  .arrows-img {
    width: 150px;
  }

  body button {
    font-size: 30px;
    background-color: #008753;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }
  body {
    padding-top: 100px;
    background-image: url(../images/wallpaper2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }  
  conta