#canvas {
    border: 15px solid  rgb(41, 141, 235);
    border-radius: 35px;    
}
body {
    padding: 0;
    text-align: center;

  }

  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  h1 { 
   font-size: 35px;
   font-family: Arcade;
   background-color: #5b99eb; 
   color: #fff;
   border-radius: 20px;   
        
  } 
   
  .game-intro h2 { 
    background-color: #4c59a5; 
    font-size: 18px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 5px 10px; 
    color: rgb(242,222,13); 
    text-shadow: 2px 2px black;     
  } 
  
  .game-intro h3 {
    background-color: #4c59a5; 
    padding: 0px 30px; 
    font-family: 'Jolly Lodger', cursive;
    letter-spacing: 1px;
    color: rgb(242,222,13);
    text-shadow: 2px 2px black;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 15px;    
  }
 
  
  body button {
    font-size: 30px;
    background-color: #008753;
    color: #fff;
    padding: 20px 40px;
    border: 50;
    box-shadow: 50;
    border-radius: 10px;
    margin-bottom: 30px;
  } 
  
  body {
    padding-top: 100px; 
    background-image: url("../images/paper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    
          
  }  
  